Work Order Sender
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "staticResults": {
            "Send_an_email_(V2)0": {
                "status": "Succeeded",
                "outputs": {
                    "statusCode": "OK"
                },
                "hasDelegate": false
            },
            "Send_SMS0": {
                "status": "Succeeded",
                "outputs": {
                    "statusCode": "OK"
                },
                "hasDelegate": false
            },
            "Get_Auth_Token0": {
                "status": "Succeeded",
                "outputs": {
                    "statusCode": "OK"
                },
                "hasDelegate": false
            },
            "Get_Job0": {
                "status": "Succeeded",
                "outputs": {
                    "statusCode": "OK"
                },
                "hasDelegate": false
            },
            "Parse_Token_Response0": {
                "status": "Succeeded",
                "hasDelegate": false
            },
            "Parse_Jobs_JSON0": {
                "status": "Succeeded",
                "hasDelegate": false
            }
        },
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST"
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "runs": 1
                    }
                }
            }
        },
        "actions": {
            "Parse_Power_App_JSON": {
                "runAfter": {
                    "Initialize_Response": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "jobNumber": {
                                "type": "string"
                            },
                            "notes": {
                                "type": "string"
                            },
                            "tradeEmail": {
                                "type": "string"
                            },
                            "tradeName": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "Get_Client_ID": {
                "runAfter": {
                    "Parse_Power_App_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('prime-client-id')}/value"
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs",
                            "outputs"
                        ]
                    }
                }
            },
            "Get_Client_Secret": {
                "runAfter": {
                    "Get_Client_ID": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('prime-client-secret')}/value"
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs",
                            "outputs"
                        ]
                    }
                }
            },
            "Get_Username": {
                "runAfter": {
                    "Get_Client_Secret": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('prime-username')}/value"
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs",
                            "outputs"
                        ]
                    }
                }
            },
            "Get_Password": {
                "runAfter": {
                    "Get_Username": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('prime-password')}/value"
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs",
                            "outputs"
                        ]
                    }
                }
            },
            "Initialize_GrantType": {
                "runAfter": {
                    "Get_Password": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "GrantType",
                            "type": "string",
                            "value": "@{encodeUriComponent('password')}"
                        }
                    ]
                }
            },
            "Initialize_ClientId": {
                "runAfter": {
                    "Initialize_GrantType": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ClientId",
                            "type": "string",
                            "value": "@{encodeUriComponent(body('Get_Client_ID')?['value'])}"
                        }
                    ]
                }
            },
            "Initialize_ClientSecret": {
                "runAfter": {
                    "Initialize_ClientId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ClientSecret",
                            "type": "string",
                            "value": "@{encodeUriComponent(body('Get_Client_Secret')?['value'])}"
                        }
                    ]
                }
            },
            "Initialize_Username": {
                "runAfter": {
                    "Initialize_ClientSecret": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Username",
                            "type": "string",
                            "value": "@{encodeUriComponent(body('Get_Username')?['value'])}"
                        }
                    ]
                }
            },
            "Initialize_Password": {
                "runAfter": {
                    "Initialize_Username": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Password",
                            "type": "string",
                            "value": "@{encodeUriComponent(body('Get_Password')?['value'])}"
                        }
                    ]
                }
            },
            "Get_Auth_Token": {
                "runAfter": {
                    "Initialize_Password": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://primeeco.tech/api.prime/v2/oauth/token",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "Accept": "application/vnd.api.v2+json"
                    },
                    "body": "grant_type=@{variables('GrantType')}&client_id=@{variables('ClientId')}&client_secret=@{variables('ClientSecret')}&username=@{variables('Username')}&password=@{variables('Password')}"
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    },
                    "staticResult": {
                        "staticResultOptions": "Disabled",
                        "name": "Get_Auth_Token0"
                    }
                }
            },
            "Parse_Token_Response": {
                "runAfter": {
                    "Get_Auth_Token": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Get_Auth_Token')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "token_type": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "access_token": {
                                "type": "string"
                            },
                            "refresh_token": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runtimeConfiguration": {
                    "staticResult": {
                        "staticResultOptions": "Disabled",
                        "name": "Parse_Token_Response0"
                    }
                }
            },
            "Get_Job": {
                "runAfter": {
                    "Parse_Token_Response": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://primeeco.tech/api.prime/v2/jobs",
                    "method": "GET",
                    "headers": {
                        "Accept": "application/vnd.api.v2+json",
                        "Content-Type": "application/json",
                        "data-serializer": "simple"
                    },
                    "queries": {
                        "q": "'jobNumber'.eq('@{trim(body('Parse_Power_App_JSON')?['jobNumber'])}')",
                        "include": "customer,client"
                    },
                    "authentication": {
                        "type": "Raw",
                        "value": "Bearer @{body('Parse_Token_Response')?['access_token']}"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    },
                    "staticResult": {
                        "staticResultOptions": "Disabled",
                        "name": "Get_Job0"
                    }
                }
            },
            "Parse_Jobs_JSON": {
                "runAfter": {
                    "Get_Job": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Get_Job')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "ongoingJob": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "jobNumber": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "clientReference": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "additionalReference": {},
                                        "description": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "divisionId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "perilId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "catastropheCodeId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "jobType": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "jobTypeId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "workflowId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "statusId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "address": {
                                            "type": "object",
                                            "properties": {
                                                "addressLine1": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "suburb": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "state": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "country": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "postcode": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            }
                                        },
                                        "customerId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "clientId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "assignedId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "excessAmount": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "isExcessCollected": {
                                            "type": "boolean"
                                        },
                                        "excessAmountCollected": {},
                                        "caseManagerId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "supervisorId": {},
                                        "estimatorId": {},
                                        "primaryContactId": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "businessId": {},
                                        "clientPortalId": {},
                                        "notes": {},
                                        "authorisedTotalIncludingTax": {},
                                        "authorisedTotalExcludingTax": {},
                                        "authorisedTotalExcludingTaxExcludingMargin": {},
                                        "authorisedTotalExcludingTaxExcludingMarginExcludingMarkup": {},
                                        "filterTags": {
                                            "type": "array"
                                        },
                                        "filterTagIds": {
                                            "type": "array"
                                        },
                                        "region": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "incidentDate": {},
                                        "allocatedDate": {},
                                        "brokerReference": {},
                                        "strataReference": {},
                                        "adjusterReference": {},
                                        "startDate": {},
                                        "endDate": {},
                                        "primeUrl": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "createdAt": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "createdBy": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "updatedAt": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "updatedBy": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "version": {
                                            "type": [
                                                "integer",
                                                "null"
                                            ]
                                        },
                                        "customer": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "status": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "position": {},
                                                        "isIndividual": {
                                                            "type": "boolean"
                                                        },
                                                        "name": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "firstName": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "lastName": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "salutation": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "contactType": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "primaryContact": {},
                                                        "homeNumber": {},
                                                        "mobileNumber": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "workNumber": {},
                                                        "preferredContactNumber": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "preferredContactNumberValue": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "contactEmail": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "abn": {},
                                                        "acn": {},
                                                        "financeRef": {},
                                                        "levesysRef": {},
                                                        "notes": {},
                                                        "filterTags": {
                                                            "type": "array"
                                                        },
                                                        "filterTagIds": {
                                                            "type": "array"
                                                        },
                                                        "salesAccountNumber": {},
                                                        "purchasesAccountNumber": {},
                                                        "salesPaymentTermType": {},
                                                        "salesPaymentTermValue": {},
                                                        "purchasesPaymentTermType": {},
                                                        "purchasesPaymentTermValue": {},
                                                        "linkedToContactId": {},
                                                        "address": {
                                                            "type": "object",
                                                            "properties": {
                                                                "addressLine1": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "suburb": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "state": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "country": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "postcode": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "postalAddress": {},
                                                        "addressLine1": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressLine2": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressSuburb": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressState": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressCountry": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressPostcode": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressLine1": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressLine2": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressSuburb": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressState": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressCountry": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressPostcode": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "subcontractor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "createdAt": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "createdBy": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "updatedAt": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "updatedBy": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "version": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "client": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "status": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "position": {},
                                                        "isIndividual": {
                                                            "type": "boolean"
                                                        },
                                                        "name": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "firstName": {},
                                                        "lastName": {},
                                                        "salutation": {},
                                                        "contactType": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "primaryContact": {},
                                                        "homeNumber": {},
                                                        "mobileNumber": {},
                                                        "workNumber": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "preferredContactNumber": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "preferredContactNumberValue": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "contactEmail": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "abn": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "acn": {},
                                                        "financeRef": {},
                                                        "levesysRef": {},
                                                        "notes": {},
                                                        "filterTags": {
                                                            "type": "array"
                                                        },
                                                        "filterTagIds": {
                                                            "type": "array"
                                                        },
                                                        "salesAccountNumber": {},
                                                        "purchasesAccountNumber": {},
                                                        "salesPaymentTermType": {},
                                                        "salesPaymentTermValue": {},
                                                        "purchasesPaymentTermType": {},
                                                        "purchasesPaymentTermValue": {},
                                                        "linkedToContactId": {},
                                                        "address": {
                                                            "type": "object",
                                                            "properties": {
                                                                "addressLine1": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "suburb": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "state": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "country": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "postcode": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "postalAddress": {
                                                            "type": "object",
                                                            "properties": {
                                                                "addressLine1": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "suburb": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "state": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "country": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "postcode": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "addressLine1": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressLine2": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressSuburb": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressState": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressCountry": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "addressPostcode": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressLine1": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressLine2": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressSuburb": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressState": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressCountry": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "postalAddressPostcode": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "subcontractor": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "createdAt": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "createdBy": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "updatedAt": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "updatedBy": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "version": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "ongoingJob",
                                        "jobNumber",
                                        "clientReference",
                                        "additionalReference",
                                        "description",
                                        "divisionId",
                                        "perilId",
                                        "catastropheCodeId",
                                        "jobType",
                                        "jobTypeId",
                                        "workflowId",
                                        "statusId",
                                        "address",
                                        "customerId",
                                        "clientId",
                                        "assignedId",
                                        "excessAmount",
                                        "isExcessCollected",
                                        "excessAmountCollected",
                                        "caseManagerId",
                                        "supervisorId",
                                        "estimatorId",
                                        "primaryContactId",
                                        "businessId",
                                        "clientPortalId",
                                        "notes",
                                        "authorisedTotalIncludingTax",
                                        "authorisedTotalExcludingTax",
                                        "authorisedTotalExcludingTaxExcludingMargin",
                                        "authorisedTotalExcludingTaxExcludingMarginExcludingMarkup",
                                        "filterTags",
                                        "filterTagIds",
                                        "region",
                                        "incidentDate",
                                        "allocatedDate",
                                        "brokerReference",
                                        "strataReference",
                                        "adjusterReference",
                                        "startDate",
                                        "endDate",
                                        "primeUrl",
                                        "createdAt",
                                        "createdBy",
                                        "updatedAt",
                                        "updatedBy",
                                        "version",
                                        "customer",
                                        "client"
                                    ]
                                }
                            },
                            "meta": {
                                "type": "object",
                                "properties": {
                                    "pagination": {
                                        "type": "object",
                                        "properties": {
                                            "total": {
                                                "type": [
                                                    "integer",
                                                    "null"
                                                ]
                                            },
                                            "count": {
                                                "type": [
                                                    "integer",
                                                    "null"
                                                ]
                                            },
                                            "per_page": {
                                                "type": [
                                                    "integer",
                                                    "null"
                                                ]
                                            },
                                            "current_page": {
                                                "type": [
                                                    "integer",
                                                    "null"
                                                ]
                                            },
                                            "total_pages": {
                                                "type": [
                                                    "integer",
                                                    "null"
                                                ]
                                            }
                                        }
                                    }
                                }
                            },
                            "links": {
                                "type": "object",
                                "properties": {
                                    "self": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "first": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "last": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "runtimeConfiguration": {
                    "staticResult": {
                        "staticResultOptions": "Disabled",
                        "name": "Parse_Jobs_JSON0"
                    }
                }
            },
            "Initialize_Response": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "ResponseCode",
                            "type": "string",
                            "value": "200"
                        },
                        {
                            "name": "ResponseBody",
                            "type": "string",
                            "value": "Received work order request"
                        }
                    ]
                }
            },
            "Parse_Job_JSON": {
                "runAfter": {
                    "Parse_Jobs_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Parse_Jobs_JSON')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "ongoingJob": {
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            },
                            "jobNumber": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "clientReference": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "additionalReference": {},
                            "description": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "divisionId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "perilId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "catastropheCodeId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "jobType": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "jobTypeId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "workflowId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "statusId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "address": {
                                "type": "object",
                                "properties": {
                                    "addressLine1": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "suburb": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "state": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "country": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "postcode": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    }
                                }
                            },
                            "customerId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "clientId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "assignedId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "excessAmount": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "isExcessCollected": {
                                "type": "boolean"
                            },
                            "excessAmountCollected": {},
                            "caseManagerId": {},
                            "supervisorId": {},
                            "estimatorId": {},
                            "primaryContactId": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "businessId": {},
                            "clientPortalId": {},
                            "notes": {},
                            "authorisedTotalIncludingTax": {},
                            "authorisedTotalExcludingTax": {},
                            "authorisedTotalExcludingTaxExcludingMargin": {},
                            "authorisedTotalExcludingTaxExcludingMarginExcludingMarkup": {},
                            "filterTags": {
                                "type": "array"
                            },
                            "filterTagIds": {
                                "type": "array"
                            },
                            "region": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "incidentDate": {},
                            "allocatedDate": {},
                            "brokerReference": {},
                            "strataReference": {},
                            "adjusterReference": {},
                            "startDate": {},
                            "endDate": {},
                            "primeUrl": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "createdAt": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "createdBy": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "updatedAt": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "updatedBy": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "version": {
                                "type": [
                                    "integer",
                                    "null"
                                ]
                            },
                            "customer": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "status": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "position": {},
                                            "isIndividual": {
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "firstName": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "lastName": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "salutation": {},
                                            "contactType": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "primaryContact": {},
                                            "homeNumber": {},
                                            "mobileNumber": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "workNumber": {},
                                            "preferredContactNumber": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "preferredContactNumberValue": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "contactEmail": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "abn": {},
                                            "acn": {},
                                            "financeRef": {},
                                            "levesysRef": {},
                                            "notes": {},
                                            "filterTags": {
                                                "type": "array"
                                            },
                                            "filterTagIds": {
                                                "type": "array"
                                            },
                                            "salesAccountNumber": {},
                                            "purchasesAccountNumber": {},
                                            "salesPaymentTermType": {},
                                            "salesPaymentTermValue": {},
                                            "purchasesPaymentTermType": {},
                                            "purchasesPaymentTermValue": {},
                                            "linkedToContactId": {},
                                            "address": {
                                                "type": "object",
                                                "properties": {
                                                    "addressLine1": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "suburb": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "state": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "country": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "postcode": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    }
                                                }
                                            },
                                            "postalAddress": {},
                                            "addressLine1": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressLine2": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressSuburb": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressState": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressCountry": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressPostcode": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressLine1": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressLine2": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressSuburb": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressState": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressCountry": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressPostcode": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "subcontractor": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "createdAt": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "createdBy": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "updatedAt": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "updatedBy": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "version": {
                                                "type": [
                                                    "integer",
                                                    "null"
                                                ]
                                            }
                                        }
                                    }
                                }
                            },
                            "client": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "status": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "position": {},
                                            "isIndividual": {
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "firstName": {},
                                            "lastName": {},
                                            "salutation": {},
                                            "contactType": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "primaryContact": {},
                                            "homeNumber": {},
                                            "mobileNumber": {},
                                            "workNumber": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "preferredContactNumber": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "preferredContactNumberValue": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "contactEmail": {},
                                            "abn": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "acn": {},
                                            "financeRef": {},
                                            "levesysRef": {},
                                            "notes": {},
                                            "filterTags": {
                                                "type": "array"
                                            },
                                            "filterTagIds": {
                                                "type": "array"
                                            },
                                            "salesAccountNumber": {},
                                            "purchasesAccountNumber": {},
                                            "salesPaymentTermType": {},
                                            "salesPaymentTermValue": {},
                                            "purchasesPaymentTermType": {},
                                            "purchasesPaymentTermValue": {},
                                            "linkedToContactId": {},
                                            "address": {
                                                "type": "object",
                                                "properties": {
                                                    "addressLine1": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "suburb": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "state": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "country": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "postcode": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    }
                                                }
                                            },
                                            "postalAddress": {
                                                "type": "object",
                                                "properties": {
                                                    "addressLine1": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "suburb": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "state": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "country": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "postcode": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    }
                                                }
                                            },
                                            "addressLine1": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressLine2": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressSuburb": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressState": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressCountry": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "addressPostcode": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressLine1": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressLine2": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressSuburb": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressState": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressCountry": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "postalAddressPostcode": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "subcontractor": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "createdAt": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "createdBy": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "updatedAt": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "updatedBy": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "version": {
                                                "type": [
                                                    "integer",
                                                    "null"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Send_an_email_(V2)": {
                "runAfter": {
                    "Parse_Job_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "To": "kurtm@kbainsurance.com.au",
                        "Subject": "KBA: New Make Safe Work Order",
                        "Body": "<p class=\"editor-paragraph\">AUTOMATED MESSAGE. PLEASE DO NOT REPLY.</p><p class=\"editor-paragraph\">---</p><br><p class=\"editor-paragraph\">Hi @{body('Parse_Power_App_JSON')?['tradeName']},</p><br><p class=\"editor-paragraph\">You have been requested to complete a make safe. Please see the details below:</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\" style=\"font-size: 20px;\">Work Order Notes</strong></b></p><p class=\"editor-paragraph\">@{body('Parse_Power_App_JSON')?['notes']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\" style=\"font-size: 20px;\">Job Details</strong></b></p><br><p class=\"editor-paragraph\">Description:</p><p class=\"editor-paragraph\">@{body('Parse_Job_JSON')?['description']}</p><br><p class=\"editor-paragraph\">Instructing Client: @{body('Parse_Job_JSON')?['client']?['data']?['name']}</p><p class=\"editor-paragraph\">KBA Job Number: @{body('Parse_Job_JSON')?['jobNumber']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\" style=\"font-size: 20px;\">Address</strong></b></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Line 1: </strong></b>@{body('Parse_Job_JSON')?['address']?['addressLine1']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Suburb: </strong></b>@{body('Parse_Job_JSON')?['address']?['suburb']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">State: </strong></b>@{body('Parse_Job_JSON')?['address']?['state']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Country: </strong></b>@{body('Parse_Job_JSON')?['address']?['country']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Postcode: </strong></b>@{body('Parse_Job_JSON')?['address']?['postcode']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Region:</strong></b> @{body('Parse_Job_JSON')?['region']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\" style=\"font-size: 20px;\">Customer Contact Details</strong></b></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Customer Salutation: </strong></b>@{body('Parse_Job_JSON')?['customer']?['data']?['salutation']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Customer Name: </strong></b>@{body('Parse_Job_JSON')?['customer']?['data']?['name']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Preferred Phone Contact: </strong></b>@{body('Parse_Job_JSON')?['customer']?['data']?['preferredContactNumber']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Mobile Number: </strong></b>@{body('Parse_Job_JSON')?['customer']?['data']?['mobileNumber']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Home Number: </strong></b>@{body('Parse_Job_JSON')?['customer']?['data']?['homeNumber']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Work Number: </strong></b>@{body('Parse_Job_JSON')?['customer']?['data']?['workNumber']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Email: </strong></b>@{body('Parse_Job_JSON')?['customer']?['data']?['contactEmail']}</p><br><p class=\"editor-paragraph\">The approval limit for after hours works is $750 AUD. Should you require further approvals, please contact the after hours team.</p><br><p class=\"editor-paragraph\">This Work Order has been provided by KBA and is your authorisation to proceed after hours. A KBA official work order will be sent on the next business day.</p><br><p class=\"editor-paragraph\">Kind regards,</p><p class=\"editor-paragraph\">KBA Insurance Repairs</p>",
                        "Importance": "High"
                    },
                    "path": "/v2/Mail"
                },
                "runtimeConfiguration": {
                    "staticResult": {
                        "staticResultOptions": "Disabled",
                        "name": "Send_an_email_(V2)0"
                    }
                }
            },
            "Send_SMS": {
                "runAfter": {
                    "Response": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azurecommunicationservicessms']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "from": "+61489907177",
                        "smsRecipients": [
                            {
                                "to": "61401144054"
                            }
                        ],
                        "message": "KBA Insurance Repairs\nHello, we have received details of make safe works from your insurer.\nWe have requested @{body('Parse_Power_App_JSON')?['tradeName']} as the trade to complete these works.\nYour trade will be in contact soon to organise attendance.",
                        "smsSendOptions": {
                            "enableDeliveryReport": false
                        }
                    },
                    "path": "/v2/sms"
                },
                "runtimeConfiguration": {
                    "staticResult": {
                        "staticResultOptions": "Disabled",
                        "name": "Send_SMS0"
                    }
                }
            },
            "Response": {
                "runAfter": {
                    "Send_an_email_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": "@variables('ResponseCode')",
                    "body": "@variables('ResponseBody')"
                },
                "operationOptions": "Asynchronous"
            }
        },
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "keyvault": {
                    "id": "/subscriptions/791ce782-21ca-4ca7-a71c-363245b95304/providers/Microsoft.Web/locations/australiaeast/managedApis/keyvault",
                    "connectionId": "/subscriptions/791ce782-21ca-4ca7-a71c-363245b95304/resourceGroups/after-hours-make-safe-rg/providers/Microsoft.Web/connections/keyvault",
                    "connectionName": "keyvault",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "office365": {
                    "id": "/subscriptions/791ce782-21ca-4ca7-a71c-363245b95304/providers/Microsoft.Web/locations/australiaeast/managedApis/office365",
                    "connectionId": "/subscriptions/791ce782-21ca-4ca7-a71c-363245b95304/resourceGroups/after-hours-make-safe-rg/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "connectionProperties": {}
                },
                "azurecommunicationservicessms": {
                    "id": "/subscriptions/791ce782-21ca-4ca7-a71c-363245b95304/providers/Microsoft.Web/locations/australiaeast/managedApis/azurecommunicationservicessms",
                    "connectionId": "/subscriptions/791ce782-21ca-4ca7-a71c-363245b95304/resourceGroups/after-hours-make-safe-rg/providers/Microsoft.Web/connections/azurecommunicationservicessms",
                    "connectionName": "azurecommunicationservicessms",
                    "connectionProperties": {}
                }
            }
        }
    }
}
